#
# Touchscreen driver configuration
#
config TOUCHSCREEN_MTK_SSL_SSD20XX
	tristate "MediaTek Touch Panel Driver CONFIG_TOUCHSCREEN_MTK_SSL_SSD20XX"
	default n
	help
	  Say Y here if you have MediaTek touch panel.
	  If unsure, say N.

