
config MTK_BMI160_GYRO
        bool "MTK_BMI160_GYRO for MediaTek package"
        default n
        help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
         BMI120 gyroscope.

